<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.commercial.model.dao.CommercialDao">

    <resultMap id="commercialResultMap" type="kr.or.iei.commercial.model.dto.Commercial">
        <result property="storeId" column="M_NO"/>
        <result property="storeName" column="M_NM"/>
        <result property="provinceName" column="SIDO_NM"/>
        <result property="districtName" column="SIGUN_NM"/>
        <result property="townName" column="HANG_NM"/>
        <result property="roadAddr" column="DORO_ADDR"/>
        <result property="landAddr" column="ZIBUN_ADDR"/>
        <result property="categoryLarge" column="G_GB_NM"/>
        <result property="categoryMedium" column="S_GB_NM"/>
        <result property="categorySmall" column="T_GB_NM"/>
        <result property="largeCode" column="G_GB_CD"/>
        <result property="mediumCode" column="S_GB_CD"/>
        <result property="smallCode" column="T_GB_CD"/>
    </resultMap>

    <select id="selectByCondition" resultMap="commercialResultMap" parameterType="map">
        SELECT *
        FROM M_COMMERCIAL_INFO WHERE 1=1
        <if test="largeCode != null and largeCode != ''">
            AND G_GB_CD = #{largeCode}
        </if>
        <if test="mediumCode != null and mediumCode != ''">
            AND S_GB_CD = #{mediumCode}
        </if>
        <if test="smallCode != null and smallCode != ''">
            AND T_GB_CD = #{smallCode}
        </if>
        <if test="keyword != null and keyword != ''">
            AND M_NM LIKE '%' || #{keyword} || '%'
        </if>
        ORDER BY M_NM
        OFFSET #{startRow} - 1 ROWS
        FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY
    </select>

    <select id="selectTotalCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM M_COMMERCIAL_INFO WHERE 1=1
        <if test="largeCode != null and largeCode != ''">
            AND G_GB_CD = #{largeCode}
        </if>
        <if test="mediumCode != null and mediumCode != ''">
            AND S_GB_CD = #{mediumCode}
        </if>
        <if test="smallCode != null and smallCode != ''">
            AND T_GB_CD = #{smallCode}
        </if>
        <if test="keyword != null and keyword != ''">
            AND M_NM LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <select id="selectLargeCategories" resultType="map">
        SELECT DISTINCT G_GB_CD AS code, G_GB_NM AS name
        FROM M_COMMERCIAL_INFO WHERE G_GB_CD IS NOT NULL
        ORDER BY G_GB_NM
    </select>

    <select id="selectMiddleCategories" parameterType="string" resultType="map">
        SELECT DISTINCT S_GB_CD AS code, S_GB_NM AS name
        FROM M_COMMERCIAL_INFO WHERE G_GB_CD = #{largeCode}
          AND S_GB_CD IS NOT NULL
        ORDER BY S_GB_NM
    </select>

    <select id="selectSmallCategories" parameterType="map" resultType="map">
        SELECT DISTINCT T_GB_CD AS code, T_GB_NM AS name
        FROM M_COMMERCIAL_INFO WHERE G_GB_CD = #{largeCode}
          AND S_GB_CD = #{mediumCode}
          AND T_GB_CD IS NOT NULL
        ORDER BY T_GB_NM
    </select>
</mapper>