.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin: 0 4px;
  
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.page-button{
  font-size: 40px !important;
}

.page-item:hover {
  background-color: #b3aaa0c4;
}

.active-page {
  background-color: #ff8c00;
  color: white;
  font-weight: bold;

}