/* list 4개씩 정렬*/
.market-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}

/* 버튼 css */
.btn-primary {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #ff8c00c4;
}